/Big World Backup/
/Big World Downloads/
/App/BWS-Selection.ini
/App/Config/Setup.ini
/App/Config/User.ini
/App/Includes_Traced/
/App/Logs/
/App/OverwriteFiles/
/App/Tools/Git/
/App/Traced.au3
/Git/
/OverwriteFiles/

**/*fixpack.ini
**/PreSelection00.ini
**/Mod.ini
**/Mod-*.ini
**/WeiDU-*.ini
**/BWS*Version.txt
