/OverwriteFiles/
/BiG World Downloads/
/BiG World Backup/
/BiG World Setup/OverwriteFiles/
/BiG World Setup/Includes_Traced/
/BiG World Setup/Logs/
/BiG World Setup/Config/User.ini
/BiG World Setup/BWS-Selection.ini
/BiG World Setup/Traced.au3
/BiG World Setup/url-check.au3
/BiG World Setup/url-check.vbs
/BiG World Setup/BWS Check.txt
/BiG World Setup/package-check.au3
**/PreSelection00.ini
**/Mod.ini
**/Mod-*.ini
**/WeiDU-*.ini
**/*.ps1
**/BiG World Setup Version.txt